@import 'utilities';

/*.footer {
    background-color: #ffffff;
    padding: 0;

    &__flex {
        display: flex;
        justify-content: space-around;
        @media screen and (max-width: 700px) {
            & {
                display: block;
            }
        }

        &__section {
            flex: 1;

            &__link {
                cursor: pointer;

                &:hover {
                    color: #ffffff;
                    transition: 0.2s;
                }
            }
        }
    }
}*/
