@import 'utilities';

.container {
  position: absolute;
  top: 50vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 1fr 1fr;
  grid-gap: 30px 0;
  justify-items: center;
  filter: drop-shadow(0.5px 0px 0.5px #fff)
  drop-shadow(-0.5px 0px 0px #fff)
  drop-shadow(0px 0.5px 0px #fff)
  drop-shadow(0px -0.5px 0px #fff)
  drop-shadow(0.5px 0.5px 0px #fff)
  drop-shadow(-0.5px -0.5px 0px #fff)
  drop-shadow(-0.5px 0.5px 0px #fff)
  drop-shadow(0.5px -0.5px 0px #fff);
  transition: all 1s ease-in-out;

  &--faded {
    opacity: 0;
  }
}

.box {
  background: rgb(28,43,168);
  background: radial-gradient(circle, rgba(13,20,110,1) 25%, rgba(5,15,60,1) 50%, rgba(3,8,54,1) 75%);
  z-index: 2;
  color: #fff;
  user-select: none;

  &--unselected {

    &:hover {
      filter: brightness(170%);
      transition: all 0.3s ease;
    }
  }

  &__question {
    grid-column: 1 / span 2;
    width: 100%;
    height: 140px;
    clip-path: polygon(0 49%, 10% 49%, 15% 0, 85% 0, 90% 49%, 100% 49%, 100% 50%, 90% 50%, 85% 100%, 15% 100%, 10% 50%, 0 50%);
    display: flex;
    justify-content: center;
    vertical-align: middle;
    align-items: center;

    &__text {
      width: 70%;
      line-break: anywhere;
      text-align: center;
    }
  }

  &__answer {
    width: 100%;
    height: 100%;
    line-height: 70px;

    &:hover {
      cursor: pointer;
    }

    &--left {
      clip-path: polygon(0 49%, 20% 49%, 25% 0, 92% 0, 97% 49%, 100% 49%, 100% 50%, 97% 50%, 92% 100%, 25% 100%, 20% 50%, 0 50%);
      padding-left: 25%;
    }

    &--right {
      clip-path: polygon(0 49%, 3% 49%, 8% 0, 75% 0, 80% 49%, 100% 49%, 100% 50%, 80% 50%, 75% 100%, 8% 100%, 3% 50%, 0 50%);
      padding-left: 10%;
    }
  }

  &--disabled {
    &:hover {
      filter: brightness(100%);
      cursor: inherit;
    }
  }

  &--selected {
    background: rgb(241,128,0);
    background: linear-gradient(89deg, rgba(241,128,0,1) 0%, rgba(244,156,0,1) 100%);
    color: #111;
  }

  &--correct {
    background: rgb(44,202,39);
    color: #111;
  }

  &__option {
    color: rgba(244,156,0,1);
    text-shadow: black 3px 3px 5px;
  }
}

.ranking {
  position: absolute;
  font-size: 24px;
  width: 300px;
  background-image: url("../images/background.webp");
  background-size: cover;
  background-position: center;
  color: #fff;
  top: 50px;
  right: 200px;
  user-select: none;
  border-radius: 30px;
  border: 2px solid #fff;
  text-transform: uppercase;
  padding: 2rem 0;
  display: flex;
  flex-direction: column-reverse;

  &__entry {
    padding: 0 2rem;
    color: rgba(244,156,0,1);

    &--selected {
      color: #000;
      background: rgb(241,128,0);
      background: linear-gradient(89deg, rgba(241,128,0,1) 0%, rgba(244,156,0,1) 100%);
      clip-path: polygon(0 49%, 2% 49%, 8% 0, 92% 0, 98% 49%, 100% 49%, 100% 50%, 98% 50%, 92% 100%, 8% 100%, 2% 50%, 0 50%);
    }
  }
}

.joker {
  position: absolute;
  font-size: 24px;
  width: 300px;
  background-size: cover;
  background-position: center;
  color: #fff;
  top: 50px;
  left: 200px;
  display: flex;
  flex-direction: column;

  &__entry {
    padding-bottom: 1rem;
  }

  &__image {
    height: 60px;
    -webkit-user-drag: none;
    user-select: none;

    &:hover {
      cursor: pointer;
      filter: brightness(170%);
    }

    &--inactive {
      filter: brightness(20%);

      &:hover {
        cursor: inherit;
        filter: brightness(20%);
      }
    }
  }
}

.audience {
  position: absolute;
  font-size: 24px;
  width: 300px;
  background-size: cover;
  background-position: center;
  color: #fff;
  top: 30px;
  left: calc(50vw - 150px);
  background-image: url("../images/background.webp");
  padding: 1rem;
  border-radius: 30px;
  border: 2px solid #fff;
  transition: 1s;

  &--disabled {
    opacity: 0;
  }

  &__graph {

    &--disabled {
      opacity: 0 !important;
    }
  }
}
