$primaryColor: rgba(217,136,61,.8);
$primaryColor--light: rgba(228,146,81,.8);
$lightColor: rgba(230,146,101,.8);
$secondaryColor: #191919;
$contrastColor: #d2232a;
$contrastColor--light: #f2434a;
$myFont: 'DINNextRoundedLTPro-Light', serif;
$myFontHandwrite: 'Just Another Hand', cursive;
$smallSize: 1em;
$largeSize: 3em !important;
$extraLargeSize: 5em !important;
$mediumLargeSize: 2em;
$mediumSize: 1.5em;
$maxWidth: 1200px;
