@import 'header', 'footer', 'main2';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  background: url("../images/background.jpg");
  background-size: cover;
  //background: #000;
  overflow: hidden;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
}
