<footer class="footer">
    <section class="footer__container">
        <div class="footer__flex">
            <section class="footer__flex__section">
                <p class="footer__flex__p">
                    <span class="footer__important">Groyerhof</span><br>
                    Inge und Anton Wallner<br>
                    Anger 197<br>
                    5630 Bad Hofgastein<br>
                </p>
            </section>
            <section class="footer__flex__section">
                <p class="footer__flex__p">
                    <span class="icon-041"></span>&nbsp;&nbsp;+43 6432 8429<br>
                    <span class="icon-019"></span>&nbsp;&nbsp;groyerhof@aon.at<br>
                </p>
                <p class="footer__flex__p">
                    Registrierungsnummer: 50402-000422-2020<br>
                </p>
            </section>
            <section class=" footer__flex__section">
                <p class="footer__flex__p">
                    <a class="footer__flex__section__link" href="./imprint.html">Impressum</a> | <a class="footer__flex__section__link" href="./legal.html">Datenschutzerklärung</a>
                </p>
                <p class="footer__flex__p">
                   &copy; Copyright <span id="js-copyright"></span> Groyherhof<br>
                </p>
            </section>
        </div>

    </section>
</footer>
<script type="text/javascript">
    const lightbox = GLightbox({
        touchNavigation: true,
            loop: true,
            autoplayVideos: true,
            moreText: 'Mehr'
    });
</script>
</body>
</html>
