<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Herzlich Willkommen am Groyerhof! Etwas außerhalb vom Zentrum von Bad Hogastein und unweit des Skizentrums Angertal erwarten Sie herrliche Urlaubstage | groyerhof@aon.at | +43 6432 8429">
    <title>Millionenshow</title>
</head>
<body>
<header class="header">
</header>
