<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Herzlich Willkommen am Groyerhof! Etwas außerhalb vom Zentrum von Bad Hogastein und unweit des Skizentrums Angertal erwarten Sie herrliche Urlaubstage | groyerhof@aon.at | +43 6432 8429">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css">
    <script src="https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>
    <title>Groyerhof</title>
</head>
<body>
<header class="header">
    <section class="header__bar header__bar--scroll-top" id="js-nav">
        <section class="header__bar--maxwidth">
            <h1><a class="header__logo" href="./index.html">Groyerhof</a></h1>
            <nav role="navigation" class="header__nav">
                <div id="menuToggle">
                    <input type="checkbox" id="menuCheckbox"/>
                    <span></span>
                    <span></span>
                    <span></span>
                    <ul class="header__list" id="menu">
                        <li><a class="header__link" href="./rooms.html">Unterkünfte</a></li>
                        <li><a class="header__link" href="./arrival.html">Lage</a></li>
                        <li><a class="header__link" href="./contact.html">Kontakt</a></li>
                    </ul>
                </div>
            </nav>
        </section>
    </section>
