<%= require('html-loader!./partials/_header.html') %>
</header>
<main id="main">
    <section class="hero hero--home"></section>
    <div class="hero__spacer"></div>
    <section class="max-width-container">
        <form class="form" id="form" method="post" action="./php/form.php" novalidate>
            <h2>Anfrageformular</h2>
            <div class="field">
                <label class="label" for="firstname">Vorname</label>
                <div class="control">
                    <input class="js-input input" id="firstname" type="text" name="Vorname" data-validation="required">
                </div>
            </div>

            <div class="field">
                <label class="label" for="lastname">Nachname</label>
                <div class="control">
                    <input class="js-input input" id="lastname" type="text" name="Nachname" data-validation="required">
                </div>
            </div>

            <div class="field">
                <label class="label" for="email">E-Mail-Adresse</label>
                <div class="control">
                    <input class="js-input input" id="email" type="text" name="E-Mail-Adresse" data-validation="required email">
                </div>
            </div>

            <div class="field">
                <label class="label" for="request">Anfrage</label>
                <div class="control">
                    <textarea class="js-input textarea" id="request" name="Anfrage" data-validation="required"></textarea>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <label class="checkbox">
                        <input type="checkbox" class="js-input" data-validation="checked" name="Datenschutz">
                        Die Daten werden nur zur Beantwortung der Anfrage verwendet. Es gilt die <a href="/legal.html">Datenschutzerklärung</a>
                    </label>
                </div>
            </div>

            <div class="g-recaptcha"
                 data-sitekey="6Lea4-IZAAAAAKInFyR4XzYt8W5y_Bs7r5GIa-Ry"
                 data-size="invisible"
                 data-callback="submitForm"
                id = "recaptcha">
            </div>

            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-link form__button" id="js-send">Absenden</button>
                </div>
                <div class="control">
                    <button type="reset" class="button is-link form__button form__button--light">Abbrechen</button>
                </div>
            </div>
            <div></div>
        </form>
    </section>
</main>
<script>
    // add css-class to current link
    document.getElementsByClassName("header__link")[2].classList.add("header__link--current");
</script>
<%= require('html-loader!./partials/_footer.html') %>
