<%= require('html-loader!./partials/_header.html') %>
</header>
<main>
    <section class="hero hero--home"></section>
    <div class="hero__spacer"></div>
    <section class="max-width-container">
        <section class="content">
            <h2>Impressum</h2>
            <div>
                <p>Groyerhof, Appartement<br>Anger 197<br>5630 Bad Hofgastein<br></p>
                <h4>Kontakt:</h4>
                <p>Telefon: +43 6432 8429<br>E-Mail: groyerhof@aon.at</p>
                <h3>Berufsrecht</h3>
                <p>Gewerbeordnung: www.ris.bka.gv.at</p>
                <h3>Hinweise zur Website</h3>
                <p>Um unsere Inhalte grafisch ansprechend darzustellen, verwenden wir auf dieser Website eine Schrift von: <a href="http://www.onlinewebfonts.com" target="_blank">oNline Web Fonts</a></p>
                <h3>Online-Streitbeilegung</h3>
                <p>Verbraucher haben die Möglichkeit, Beschwerden an die Online-Streitbeilegungsplattform der EU zu richten: http://ec.europa.eu/odr. Sie  können  allfällige  Beschwerden  auch  an  die oben angegebene E-Mail-Adresse richten.</p>
                <p><em>Teile des Impressums wurden mit dem <a href="https://www.activemind.de/datenschutz/impressums-generator/">Impressums-Generator der activeMind AG</a> erstellt.</em></p>
            </div>
        </section>
    </section>
</main>
<%= require('html-loader!./partials/_footer.html') %>
