<%= require('html-loader!./partials/_header.html') %>
<main>
    <audio id="audio" src="" autoplay loop></audio>
    <section class="container" data-barba="container">
        <div class="box box__question">
            Welche Fußballnation konnte bei den bisherigen 19 Weltmeisterschaften die den Titel im eigenen Land gewinnen?
        </div>
        <div class="box box__answer box--unselected">
            <span class="box__option">A:</span> <span class="box__option__text"></span>
        </div>
        <div class="box box__answer box--unselected">
            <span class="box__option">B:</span> <span class="box__option__text"></span>
        </div>
        <div class="box box__answer box--unselected">
            <span class="box__option">C:</span> <span class="box__option__text"></span>
        </div>
        <div class="box box__answer box--unselected">
            <span class="box__option">D:</span> <span class="box__option__text"></span>
        </div>
    </section>
</main>
<%= require('html-loader!./partials/_footer.html') %>
