<%= require('html-loader!./partials/_header.html') %>
</header>
<main>
    <section class="hero hero--home"></section>
    <div class="hero__spacer"></div>
    <section class="max-width-container content">
        <section class="content__100">
            <div class="content__100--text">
                <h2>
                    Unterkünfte
                </h2>
                <p>
                    Der Groyerhof bietet neben komfortablen Doppelzimmern zu je 20 m2 für 2 bis 3 Personen mit Dusche/WC und Balkon, auch 2 gemütliche Appartements an. Letztere sind zwischen 50 m2 und 80 m2 groß und bieten Platz für 2 bis 6 Personen. Schlaf- und Wohnräume sind immer getrennt, die Küche voll ausgestattet und jedes Zimmer hat einen Balkonzugang. Alle angebotenen Unterkünfte sind modern und gemütlich eingerichtet und wirken durch den farbenfrohen Dekor äußerst einladend und anheimelnd.
                </p>
            </div>
        </section>
        <section class="content__50-50">
            <div class="content__50-50--item">
                <a href="./images/zimmer4.jpg" class="glightbox" data-gallery="gallery2">
                    <img src="./images/zimmer4.jpg" class="content__image" alt="zimmerausstattung">
                </a>
            </div>
            <div class="content__50-50--item">
                <h2>
                    Ausstattung
                </h2>
                <p>
                    In den Wohnungen finden Sie eine komplette Ausstattung mit allem, was Sie für einen erholsamen Urlaub brauchen.  Die südseitig ausgerichtete Terrasse darf jederzeit mitbenutzt werden, sowie der Grillplatz im Sommer mit Gartengrill und Sitzbänken.
                </p>
                <p>
                    Sie haben in jedem Zimmer einen Fernseher mit Kabelanschluss und WLAN im ganzen Haus.<br>
                    Für Ihre Sportausrüstung stehen ein Skiraum, sowie ein Fahrradraum zur Verfügung.
                </p>
            </div>
        </section>
        <section class="content__50-50">
            <div class="content__50-50--item">
                <a href="./images/zimmer1.jpg" class="glightbox" data-gallery="gallery2">
                    <img src="./images/zimmer1.jpg" class="content__image" alt="zimmerausstattung">
                </a>
            </div>
            <div class="content__50-50--item">
                <a href="./images/zimmer2.jpg" class="glightbox" data-gallery="gallery2">
                    <img src="./images/zimmer2.jpg" class="content__image" alt="zimmerausstattung">
                </a>
            </div>
        </section>
        <section class="content__50-50">
            <div class="content__50-50--item">
                <a href="./images/zimmer3.jpg" class="glightbox" data-gallery="gallery2">
                    <img src="./images/zimmer3.jpg" class="content__image" alt="zimmerausstattung">
                </a>
            </div>
            <div class="content__50-50--item">
                <a href="./images/zimmer5.jpg" class="glightbox" data-gallery="gallery2">
                    <img src="./images/zimmer5.jpg" class="content__image" alt="zimmerausstattung">
                </a>
            </div>
        </section>
        <section class="content__50-50">
            <div class="content__50-50--item">
                <a href="./images/zimmer6.jpg" class="glightbox" data-gallery="gallery2">
                    <img src="./images/zimmer6.jpg" class="content__image" alt="zimmerausstattung">
                </a>
            </div>
            <div class="content__50-50--item">
                <a href="./images/zimmer2_1.jpg" class="glightbox" data-gallery="gallery2">
                    <img src="./images/zimmer2_1.jpg" class="content__image" alt="zimmerausstattung">
                </a>
            </div>
        </section>
        <section class="content__50-50">
            <div class="content__50-50--item">
                <a href="./images/zimmer2_2.jpg" class="glightbox" data-gallery="gallery2">
                    <img src="./images/zimmer2_2.jpg" class="content__image" alt="zimmerausstattung">
                </a>
            </div>
            <div class="content__50-50--item">
                <a href="./images/zimmer2_3.jpg" class="glightbox" data-gallery="gallery2">
                    <img src="./images/zimmer2_3.jpg" class="content__image" alt="zimmerausstattung">
                </a>
            </div>
        </section>
        <section class="content__50-50">
            <div class="content__50-50--item">
                <a href="./images/zimmer2_4.jpg" class="glightbox" data-gallery="gallery2">
                    <img src="./images/zimmer2_4.jpg" class="content__image" alt="zimmerausstattung">
                </a>
            </div>
            <div class="content__50-50--item">
                <a href="./images/zimmer2_5.jpg" class="glightbox" data-gallery="gallery2">
                    <img src="./images/zimmer2_5.jpg" class="content__image" alt="zimmerausstattung">
                </a>
            </div>
        </section>
        <section class="content__50-50">
            <div class="content__50-50--item">
                <a href="./images/zimmer2_6.jpg" class="glightbox" data-gallery="gallery2">
                    <img src="./images/zimmer2_6.jpg" class="content__image" alt="zimmerausstattung">
                </a>
            </div>
        </section>
    </section>
</main>
<script>
    // add css-class to current link
    document.getElementsByClassName("header__link")[0].classList.add("header__link--current");
</script>
<%= require('html-loader!./partials/_footer.html') %>
